* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 80%;
    background-color: whitesmoke;
    padding: 50px;
}

.main ul li {
    margin: 20px;
}

.main ul li button {
    background-color: slateblue;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    color: white;
    border: none;
}

.main ul li button:disabled {
    opacity: 0.5;
}



